/* Special format*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    margin-top: 50px;
}


/* Header */
.header{    
  background-color: #084566;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

.header_img{
    margin: 10px 15px;
    border: white 2px solid;
    width: 150px;
    grid-column: 2/2;
}

.header_h1{
    font-size: 5rem;
    color: white;
    grid-column: 3/5;
}

/* Main */

/* Principal contend */
#contener{
    max-width: 80%;
    max-height: 90%;
    margin: 0 auto;
    background-color: rgb(247, 238, 238);
}

body{
    background-image: url("imgaes/body_img.jpg");
}

.display_grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
    align-items: center;
    padding: 2%;
}

hr{
    grid-column: 1/7;
    grid-row: 1/1;
}

main h2{
    margin-bottom: 50px;
    font-size: 4rem;
    grid-column: 1/7;
    grid-row: 1/1;
    text-align: center;
    align-items: center;
}

.main_img1{
    margin-left: 50px;
    width: 250px;
    grid-column: 1/2;
    grid-row: 2/4;
}
.main_img1:hover{
    transform: scale(1.1);
  }

main ul li{
    font-size: 3rem;
    text-align: center;
}

.main_ul{
    border: darkblue 1px solid;
    background-color: rgb(93, 205, 233);
    grid-column: 3/5;
    grid-row: 2/4;
    list-style: none;
    border-radius: 1.3rem;
}

.main_img2{
    margin-right: 50px;
    width: 250px;
    grid-column: 6/7;
    grid-row: 2/4;
}

.main_img2:hover{
    transform: scale(1.1);
  }

/* Footer */
.footer{
    text-align: center;
    background-color: #F0810F;
    font-size: 2rem;
    color: white;
}

@media screen and (max-width: 1100px) { 
    .display_grid{
    display: inline-block;
    }
}