/* Special format*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

/* Header */
header{
    color: white;    
    font-size: 2.5rem;
    font-family: "Merriweather",serif;
    background-color: #084566;
    text-align: center;
    display: block;
}


/* Main */
#contener{
    width: 90%;
    margin: 0 auto;
    background-color: whitesmoke;
}

.main-grid{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    padding: 15px;
}
div{
    border: black 1.5px solid;
    background-color: rgb(233, 233, 233);
    margin: 15px 0 15px 0;
    padding: 20px;
}

div h2, h3{
    font-family: "Merriweather",serif;
    background-color: #084566;
    color: rgb(255, 255, 255);
}

div h2{
   
    font-size: 3.5rem;
}

div h3{
    margin: 0 0 15px 0;
    font-size: 2.5rem;
}

div p{
    font-family: 'Questrial', serif;
    margin: 5px 0 5px 0;
    font-size: 2rem;
}
img{
    margin: 5px 0 5px 0;
    width: 250px;
}

a{
    
    background-color: blue;
    color: white;
    font-size: 2rem;
    font-family: 'Questrial', serif;
    border: black 1px solid;
}

/* Footer */
footer{
    text-align: center;
    background-color: #084566;
    font-family: 'Questrial', serif;
    font-size: 2rem;
    color: white;
    padding: 1.7rem;
}