/* Special format*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

/* Header */
header{
    color: white;    
    font-size: 3rem;
    background-color: #084566;
    text-align: center;
}


/* Main */
body{
    width: 75%;
    margin: 0 auto;
    background-color: whitesmoke;
}

main{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    padding: 20px;
  
}
section{
    border: black 1.5px solid;
    background-color: rgb(233, 233, 233);
}

section h2, h3{
    background-color: #084566;
    color: rgb(255, 255, 255);
}

section h2{
   
    font-size: 3.5rem;
}

section h3{
    font-size: 2.5rem;
}

section p{
    font-size: 2rem;
}
img{
    width: 350px;
}

button{
    background-color: yellow;
    color: black;
    font-size: 2rem;
}

/* Footer */
footer{
    text-align: center;
    background-color: #084566;
    font-family: 'Questrial', serif;
    font-size: 2rem;
    color: white;
    padding: 1.7rem;
}