body {
    text-align: center;
    margin: 0;
    background-color: antiquewhite;
  }

h1{

  color:blue;

}
picture {
    display: block;
    background-color: white;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 40px;
    box-shadow: 15px 0 10px -10px rgba(136, 136, 136, 0.97),
        -15px 0 10px -10px rgba(136, 136, 136, 0.97);
    max-width: fit-content;
      }

picture img[data-src] {
  filter: blur(0.2em);
}
picture img {
  filter: none;
  transition: filter 2s;
  width: 100%;
}
      