@media only screen and (min-width: 45.5rem) {
  .social{   
    text-align: center;
    grid-column: 4/4;
    grid-row: 1/1;
    display: flex;
    }

  .header{
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/1;
    }

    header h1{
      font-size: 3rem;
      margin-top: 50px;
    }
    
    header h4{
      font-size: 2rem;
      margin-bottom: 50px;
    }
  main {
      grid-template-columns: 3fr 1fr;
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
    }
    .callToAction {
      grid-area: 1 / 1 / 2 / 3;
    }
    .news {
      grid-area: 2 / 1 / 3 / 3;
    }
    .spotLights {
      grid-area: 3 / 1 / 4 / 3;
    }
    .spotLight1 {
      margin: 10px;
    }
    .spotLight2 {
      margin: 10px;
    }
    .join {
      display: grid;
      grid-area: 4 / 1 / 5 / 3;
      background-color: rgb(201, 201, 245);
    }
    .event {
      display: grid;
      grid-area: 5 / 1 / 6 / 2;
      background-color: rgb(201, 201, 245);
    }
  
    .weather {
      grid-area: 5 / 2 / 6 / 3;
    } 
  

    footer{
      display: grid;
      padding: 2vw;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
      align-items: center;
    }

    .footerLogo{
      justify-self: end;
      width: 60px;
    }

  .footerTitle{
      text-align: left;
      grid-column: 2/3;
  }

  .map{
      grid-column: 3/5;
  }

  footer p{
      grid-column: 1/5;
  }
}