:root{
--color-secundary: #6F1F2D;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    max-width: 100%;
    margin: auto;
    border: black .5rem solid;
}

/*Header */
.header-top{
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
}


.header-top img{
    width: 100px;
}

header{background-color: var(--color-secundary);
    color: white;
    text-align: center;
}

/* header nav*/
nav{
    font-size: 2.3rem;
    justify-content: center;
    align-items: center;
    background-color: #BF8A3D;
}


nav ul li{
    list-style: none;
    border: 1px black solid;
    margin: 0 auto;
    
}

nav a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.active{
    background-color: var(--color-secundary);
}
/* main */

main{
    padding: 3rem;
    display: block;
    text-align: center;
}



h2{
    font-size: 3rem;
}
p{
    font-size: 2rem;
}

img{
    width: 20rem;
}

main h2, p, img{
    padding: 1rem;
}

/* footer */
footer{
    color: white;
    background-color: var(--color-secundary);
    text-align: center;
    font-size: 2rem;
    padding: 1.7rem;
}


.roboto-font{
    font-family: 'Roboto', sans-serif;
}

.handlee-font{
    font-family: 'Handlee', cursive;
}