@media only screen and (min-width: 675px) {
    .grid-main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2,1fr);
        padding: 1.5rem;
        grid-gap: 1rem;

    }
    
    .pg{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .pg h1 , p{
        font-size: 2.5rem;
    }
    .temple_images{
        grid-column: 3/4;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
    }
    .temple1, .temple2, .temple3{
        width: 100%;
        height: 100%;
        padding: .3rem;
    }
    
    .weather_box{
        grid-column: 1/1;
        grid-row: 2/3;
    }

    .callToAction2{
        grid-column: 2/2;
        grid-row: 2/3;
        border: 20px dotted #D9CAA7;
    }
    .callToAction2 h3{
        font-size: 5rem;
    }

    .callToAction2 a{
        font-size: 5.5rem;
    }

    footer{
        display: grid;
        padding: 2vw;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        align-items: center;
      }
  
      .footerLogo{
        justify-self: end;
        width: 100px;
      }
  
    .footerTitle{
        text-align: left;
        grid-column: 2/3;
    }
  
    .map{
        grid-column: 3/5;
    }
  
    footer p{
        grid-column: 1/5;
    }

    /* ----------------- FORM ---------------------*/

    form fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr) 2.5fr repeat(2, 1fr);
    align-content: center;
    }
    
    form label.top {
      display: inline;
    
    }
    
    .agreeterms{
    grid-column: 1;
    }
    form input.submitBtn {
      grid-column: 1/3;
      
    }
    
    form label.top input,
    form label.top textarea{
      display: inline;
    }
    form label.special{
     grid-column: 1/3;
      
    }
    .types{
      align-self: center;
    }

    /* Reception */

    .main-reception{
        padding: 1.5rem;
    }

    .main-reception img{
        width: 40%;
        height: 30%;
        margin: 5px 10px 0 10px;
    }
    /*-------------missionary page------------*/
    .main_missionary{
        display: block;
        text-align: center;
    }
    .main_missionary h2{
        font-size: 2.5rem;
    }
    .main_missionary img{
        width: 80%;
        height: auto;
        margin: 10px 0 10px 0 black;
        border: 2px solid black;
        border-radius: 10px;
    }
    .temple_inn_rooms{
      display: flex;
      flex-direction: row;
    }
    .main_missionary h3{
        font-size: 3.5rem;
    }
    
    .main_missionary ul li{
        font-size: 2rem;
    }
    
}